.box {
  width: 100dvw;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
}

.tuscany-1 {
  background-image: url('./assets/tuscany-1.png');
  height: 425px;
}

.tuscany-2 {
  background-image: url('./assets/tuscany-2.png');
  height: 425px;
}

.tuscany-3 {
  background-image: url('./assets/tuscany-3.png');
  height: 425px;
}

.content {
  height: 850px;
}